@tailwind base;
@tailwind components;
@tailwind utilities;

    .nav-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border: none;
      padding: 10px;
      cursor: pointer;
      z-index: 10;
    }
    .nav-left {
      left: 0;
    }
    .nav-right {
      right: 0;
    }

  #carouselTrack:hover {
  cursor: pause;
}

/* Some custom css for pagination*/

@media (min-width: 1024px) {
div#frontPagination nav[role="navigation"] .text-sm {
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
}
div#frontPagination nav[role="navigation"] svg.w-5{
  width: 1.5rem;
  height: 1.5rem;
}
}

@media (min-width: 1280px) {
div#frontPagination nav[role="navigation"] .text-sm {
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
}
div#frontPagination nav[role="navigation"] svg.w-5{
  width: 1.8rem;
  height: 1.8rem;
}
}
